<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Můj blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
    <h1>Noc kostelů - Praha 2021</h1>
    <div th:each="post: ${prispevky}">
    <div th:utext="${post.title}">Zastávka první</div>
    <span th:utext="${post.author}">Jméno autora</span>
    <div th:utext="${post.perex}">Příspěvek začíná...</div>
    <a th:href="@{|/post/${post.slug}|}" >Přečíst</a>
    </div>
</body>
</html>
